
/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 90px;
    background: #fdbe33;
  }
  
  .top-bar .logo {
    padding: 15px 0;
    text-align: left;
    overflow: hidden;
  }
  
  .top-bar .logo h1 {
    margin: 0;
    color: #030f27;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
  }
  
  .top-bar .logo img {
    max-width: 100%;
    max-height: 60px;
  }
  
  .top-bar .top-bar-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .top-bar .top-bar-icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .top-bar .top-bar-icon [class^="flaticon-"]::before {
    margin: 0;
    color: #030f27;
    font-size: 40px;
  }
  
  .top-bar .top-bar-text {
    padding-left: 15px;
  }
  
  .top-bar .top-bar-text h3 {
    margin: 0 0 5px 0;
    color: #030f27;
    font-size: 16px;
    font-weight: 400;
  }
  
  .top-bar .top-bar-text p {
    margin: 0;
    color: #030f27;
    font-size: 13px;
    font-weight: 400;
  }
  
  @media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
  }
  
  @media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
  }
  
  
  /**********************************/
  /*********** Nav Bar CSS **********/
  /**********************************/
  .nav-bar {
    position: relative;
    background: #fdbe33;
    transition: .3s;
  }
  
  .nav-bar .container-fluid {
    padding: 0;
  }
  
  .nav-bar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1366px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
  }
  
  .nav-bar .navbar {
    height: 100%;
    background: #030f27 !important;
  }
  
  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
    color: #fdbe33;
    transition: none;
  }
  
  .nav-bar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
  }
  
  .nav-bar .btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0;
  }
  
  .nav-bar .btn:hover {
    color: #030f27;
    background: #fdbe33;
    border-color: #fdbe33;
  }
  
  @media (min-width: 992px) {
    .nav-bar {
        padding: 0 75px;
    }
    
    .nav-bar.nav-sticky {
        padding: 0;
    }
    
    .nav-bar .navbar {
        padding: 20px;
    }
    
    .nav-bar .navbar-brand {
        display: none;
    }
    
    .nav-bar a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
  }
  
  @media (max-width: 991.98px) {
    .nav-bar .navbar {
        padding: 15px;
    }
    
    .nav-bar a.nav-link {
        padding: 5px;
    }
    
    .nav-bar .dropdown-menu {
        box-shadow: none;
    }
    
    .nav-bar .btn {
        display: none;
    }
  }



  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.another {
	margin-top: -30px;
	margin-bottom: 30px;
	display: block;
	font-size: 20px;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding: 50px;
	font-size: 15px;
	line-height: 1.6;
	background-color: #dee4f7;
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h2 {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 5px;
	
}

/*TIMELINE STARTS*/
.timeline-wrapper,
.timelin-main,
.timelin-main li {
	position: relative;
}

.timelin-main {
	padding: 60px 0;
}

.timeline-wrapper:before,
.timeline-wrapper:after {
	z-index: 4;
}

/*main top circle*/
.timeline-wrapper:before {
	top: 0;
}

/*main bottom circle*/
.timeline-wrapper:after {
	bottom: 0;
}

/*main vertical line*/
.timelin-main:before {
	top: 0;
	bottom: 0;
	width: 5px;
	z-index: 3;
}

/*news post - left right left right*/
.timelin-main li > div {
	width: 35%;
	padding: 15px 30px;
	border-radius: 5px;
	border: 1px solid rgb(186, 197, 72);
	background-color:#121518;
	position: relative;
	z-index: 9;
	box-shadow: 0px 0px 3px 0px rgb(143, 145, 136);
	color: white;
}

/*left*/
.timelin-main li:nth-child(odd) > div {
	float: left;
}

/*right*/
.timelin-main li:nth-child(even) > div {
	float: right;
}

.timelin-main li:nth-child(even) {
	margin-top: 100px;
}

/*clearing float*/
.timelin-main li:after {
	content: '';
	display: block;
	clear: both;
}

/*left news line*/
.timelin-main li:nth-child(odd) > div:after {
	left: 100%;
	-webkit-transform-origin: left center;
			transform-origin: left center;
}

/*right news line*/
.timelin-main li:nth-child(even) > div:after {
	right: 100%;
	-webkit-transform-origin: right center;
			transform-origin: right center;
}

/*horizontal line of news elements - depending on the li div width*/
.timelin-main li > div:after {
	width: 44.5%;
	height: 5px;
}

/*color of lines and circles - combined */
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main:before,
.timelin-main li:before,
.timelin-main li > div:after,
.timelin-main li > div:before  {
	content: '';
	position: absolute;
	background-image: -webkit-repeating-linear-gradient( 
		315deg, rgb(216, 152, 115), 
		rgba(171, 171, 171, 0.97) 25%, 
		rgba(13, 234, 163, 0.98) 25%, 
		rgba(39, 86, 193, 0.38) 50% );
	background-image: repeating-linear-gradient( 
		135deg, rgb(20, 106, 195), 
		rgba(12, 28, 228, 0.97) 25%, 
		rgba(13, 234, 163, 0.98) 25%, 
		rgba(39, 86, 193, 0.38) 50% );
	background-size: 12px 12px;
}

/*circle style*/
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main li:before,
.timelin-main li > div:before  {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0px 0px 0px 2px rgba(0, 144, 247, 1);
	background: rgba(0, 144, 247, 1);
}

/*make sure the main line and main circles remain horizontally centered*/
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main:before {
	left: 50%;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
}

/*make sure the other lines and other circles remain vertically centered*/
.timelin-main li > div:after,
.timelin-main li > div:before  {
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
}

/*circles on the main line*/
.timelin-main li:before {
	top: 50%;
	left: 50%;
	z-index: 10;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
/* 	background-color: red; // check which one */
}

.timelin-main li:nth-child(odd):before {
	margin-top: 23px;
}

.timelin-main li:nth-child(even):before {
	margin-top: -24px;
}

/*rotate the horizontal line*/
.timelin-main li > div:after {
	-webkit-transform: translateY(-50%) rotate(10deg);
			transform: translateY(-50%) rotate(10deg);
}

/*circle new element*/
.timelin-main li > div:before {
	right: 0;
	z-index: 3;
}

/*left news circle*/
.timelin-main li:nth-child(odd) > div:before {
	right: -7px;
}

/*right news circl*/
.timelin-main li:nth-child(even) > div:before {
	left: -7px;
}

@media screen and (max-width: 767px) {

	.timelin-main {
		padding: 75px 0;
	}
	.timelin-main li > div {
		width: 100%;
		padding: 40px 10px;
		text-align: center;
		box-shadow: none;
	}
	.timelin-main li:before {
		top: 0;
		-webkit-transform: translate(-50%, 0);
				transform: translate(-50%, 0);
	}

	.timelin-main li:nth-child(odd):before,
	.timelin-main li:nth-child(even):before {
		margin-top: -7px;
	}

	.timelin-main li:nth-child(odd) > div:before,
	.timelin-main li:nth-child(even) > div:before {
		bottom: -8px;
		left: 50%;
		top: auto;
		-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
		
	}
	.timelin-main li:nth-child(even) > div:before {

	}
	.timelin-main li > div:after {
		display: none;
	}

	.timelin-main li {
		margin: 65px 0;
	}
	.timelin-main li:nth-child(even) {
		margin-top: 0;
	}
	.timelin-main li:first-child {
		margin-top: 0;
	}
	.timelin-main li:last-child {
		margin-bottom: 0;
	}
}

/* Animation */
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main li:before,
.timelin-main li > div:before {
	-webkit-animation: scale 2s cubic-bezier(1, -0.25, 0.05, 1.67) infinite;
			animation: scale 2s cubic-bezier(1, -0.25, 0.05, 1.67) infinite;
}

@-webkit-keyframes scale {

	0% {
		box-shadow: 0px 0px 0px 2px rgba(0, 144, 247, 1);
	}

	25% {
		box-shadow: 0px 0px 0px 3px rgba(0, 144, 247, .7);
	}
	50% {
		box-shadow: 0px 0px 0px 2px rgba(0, 144, 247, .5);
	}

	75% {
		box-shadow: 0px 0px 0px 3px rgba(0, 144, 247, .3);
	}

	100% {
		box-shadow: 0px 0px 0px 2px rgba(0, 144, 247, 1);
	}

}

@keyframes scale {

	0% {
		box-shadow: 0px 0px 0px 2px rgba(0, 144, 247, 1);
	}

	25% {
		box-shadow: 0px 0px 0px 3px rgba(0, 144, 247, .7);
	}
	50% {
		box-shadow: 0px 0px 0px 2px rgba(0, 144, 247, .5);
	}

	75% {
		box-shadow: 0px 0px 0px 3px rgba(0, 144, 247, .3);
	}

	100% {
		box-shadow: 0px 0px 0px 2px rgba(0, 144, 247, 1);
	}

}




/********* Service CSS *********/
/*******************************/
.service {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.service .service-item {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.service .service-img {
  position: relative;
  overflow: hidden;
}

.service .service-img img {
  width: 100%;
}

.service .service-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(3, 15, 39, .7);
  transition: .5s;
  opacity: 0;
}

.service .service-item:hover .service-overlay {
  opacity: 1;
}

.service .service-overlay p {
  margin: 0;
  color: #ffffff;
}

.service .service-text {
  display: flex;
  align-items: center;
  height: 60px;
  background: #030f27;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.service .service-text h3 {
  margin: 0;
  padding: 0 15px 0 25px;
  width: calc(100% - 60px);
  font-size: 20px;
  font-weight: 700;
  color: #fdbe33;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.service .service-item a.btn {
  width: 60px;
  height: 60px;
  padding: 3px 0 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  line-height: 60px;
  font-weight: 100;
  color: #030f27;
  background: #fdbe33;
  border-radius: 0;
  transition: .3s;
}

.service .service-item:hover a.btn {
  color: #ffffff;
}

  


 
/*******************************/
/********* General CSS *********/
/*******************************/
body {
  color: #666666;
  background: #dddddd;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
  color: #030f27;
}

a {
  color: #666666;
  transition: .3s;
}

a:hover,
a:active,
a:focus {
  color: #fdbe33;
  outline: none;
  text-decoration: none;
}

.btn:focus {
  box-shadow: none;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  background: #ffffff;
}

.back-to-top {
  position: fixed;
  display: none;
  background: #fdbe33;
  color: #121518;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 9;
}

.back-to-top:hover {
  color: #fdbe33;
  background: #121518;
}

.back-to-top i {
  padding-top: 10px;
}

.btn {
  transition: .3s;
}


/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
  position: relative;
  height: 90px;
  background: #fdbe33;
}

.top-bar .logo {
  padding: 15px 0;
  text-align: left;
  overflow: hidden;
}

.top-bar .logo h1 {
  margin: 0;
  color: #030f27;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.top-bar .logo img {
  max-width: 100%;
  max-height: 60px;
}

.top-bar .top-bar-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-bar .top-bar-icon {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar .top-bar-icon [class^="flaticon-"]::before {
  margin: 0;
  color: #030f27;
  font-size: 40px;
}

.top-bar .top-bar-text {
  padding-left: 15px;
}

.top-bar .top-bar-text h3 {
  margin: 0 0 5px 0;
  color: #030f27;
  font-size: 16px;
  font-weight: 400;
}

.top-bar .top-bar-text p {
  margin: 0;
  color: #030f27;
  font-size: 13px;
  font-weight: 400;
}

@media (min-width: 992px) {
  .top-bar {
      padding: 0 60px;
  }
}

@media (max-width: 991.98px) {
  .top-bar .logo {
      text-align: center;
  }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav-bar {
  position: relative;
  background: #fdbe33;
  transition: .3s;
}

.nav-bar .container-fluid {
  padding: 0;
}

.nav-bar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1366px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  z-index: 999;
}

.nav-bar .navbar {
  height: 100%;
  background: #030f27 !important;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 10px 8px 10px;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fdbe33;
  transition: none;
}

.nav-bar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}

.nav-bar .btn {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 0;
}

.nav-bar .btn:hover {
  color: #030f27;
  background: #fdbe33;
  border-color: #fdbe33;
}

@media (min-width: 992px) {
  .nav-bar {
      padding: 0 75px;
  }
  
  .nav-bar.nav-sticky {
      padding: 0;
  }
  
  .nav-bar .navbar {
      padding: 20px;
  }
  
  .nav-bar .navbar-brand {
      display: none;
  }
  
  .nav-bar a.nav-link {
      padding: 8px 15px;
      font-size: 15px;
      text-transform: uppercase;
  }
}

@media (max-width: 991.98px) {
  .nav-bar .navbar {
      padding: 15px;
  }
  
  .nav-bar a.nav-link {
      padding: 5px;
  }
  
  .nav-bar .dropdown-menu {
      box-shadow: none;
  }
  
  .nav-bar .btn {
      display: none;
  }
}



/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
  position: relative;
  margin-bottom: 45px;
  padding: 90px 0;
  text-align: center;
  background: #fdbe33;
}

.page-header h2 {
  position: relative;
  color: #030f27;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.page-header h2::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  left: calc(50% - 50px);
  bottom: 0;
  background: #030f27;
}

.page-header a {
  position: relative;
  padding: 0 12px;
  font-size: 22px;
  color: #030f27;
}

.page-header a:hover {
  color: #ffffff;
}

.page-header a::after {
  position: absolute;
  content: "/";
  width: 8px;
  height: 8px;
  top: -2px;
  right: -7px;
  text-align: center;
  color: #121518;
}

.page-header a:last-child::after {
  display: none;
}

@media (max-width: 991.98px) {
  .page-header {
      padding: 60px 0;
  }
  
  .page-header h2 {
      font-size: 45px;
  }
  
  .page-header a {
      font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  .page-header {
      padding: 45px 0;
  }
  
  .page-header h2 {
      font-size: 35px;
  }
  
  .page-header a {
      font-size: 18px;
  }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
}

.section-header p {
  color: #fdbe33;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 50px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .section-header h2 {
      font-size: 30px;
  }
}


/*******************************/
/********* Feature CSS *********/
/*******************************/
.feature {
  position: relative;
  margin-bottom: 45px;
}

.feature .col-md-12 {
  background: #030f27;
}
  
.feature .col-md-12:nth-child(2n) {
  color: #030f27;
  background: #fdbe33;
}

.feature .feature-item {
  min-height: 250px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.feature .feature-icon {
  position: relative;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature .feature-icon::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  top: -20px;
  left: -10px;
  border: 2px dotted #ffffff;
  border-radius: 60px;
  z-index: 1;
}

.feature .feature-icon::after {
  position: absolute;
  content: "";
  width: 79px;
  height: 79px;
  top: -18px;
  left: -9px;
  background: #030f27;
  border-radius: 60px;
  z-index: 2;
}

.feature .col-md-12:nth-child(2n) .feature-icon::after {
  background: #fdbe33;
}

.feature .feature-icon [class^="flaticon-"]::before {
  position: relative;
  margin: 0;
  color: #fdbe33;
  font-size: 60px;
  line-height: 60px;
  z-index: 3;
}

.feature .feature-text {
  padding-left: 30px;
}

.feature .feature-text h3 {
  margin: 0 0 10px 0;
  color: #fdbe33;
  font-size: 25px;
  font-weight: 600;
}

.feature .feature-text p {
  margin: 0;
  color: #fdbe33;
  font-size: 18px;
  font-weight: 400;
}

.feature .col-md-12:nth-child(2n) [class^="flaticon-"]::before,
.feature .col-md-12:nth-child(2n) h3,
.feature .col-md-12:nth-child(2n) p {
  color: #030f27;
}


/*******************************/
/********** About CSS **********/
/*******************************/
.about {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.about .section-header {
  margin-bottom: 30px;
}

.about .about-img {
  position: relative;
  height: 100%;
}

.about .about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .about-text p {
  font-size: 16px;
}

.about .about-text a.btn {
  position: relative;
  margin-top: 15px;
  padding: 15px 35px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #030f27;
  border-radius: 0;
  background: #fdbe33;
  transition: .3s;
}

.about .about-text a.btn:hover {
  color: #fdbe33;
  background: #030f27;
}

@media (max-width: 767.98px) {
  .about .about-img {
      margin-bottom: 30px;
      height: auto;
  }
}
/************section content************/
*{
  padding: 0;
  margin: 0;
  font-family:'Poppins',sans-serif;
}

.background-clr{
  background-color:#6a7489;
  backface-visibility: visible;
}

.mvv-container{
  max-width: 90%;
  margin: 50px auto 0;

}

.mvv-container .mvv-block{
  margin-bottom: 50px;
  display:flex ;
  flex-direction: row;
  flex-wrap: wrap;
}

.mvv-container .mvv-block .image
{
  flex: 0 0 auto;
  width: 400px; 
  overflow:hidden;
  border-radius:5px ;
  box-shadow:0 10px 5px rgba(0, 0, 0, .3) ;
  line-height:0 ;
}

.mvv-container .mvv-block .image img
{
  width: 100%;
  border-radius:5px ;
  box-shadow:0 10px 5px rgba(255, 255, 255, 0.3) ;
  transition: 0.3s; 
  transform: scale(1);
}

.mvv-container .mvv-block .image:hover img
{
  transform: scale(1.05);
}

.mvv-container .mvv-block .content
{
  flex: 0 0 auto;
  width:calc(100% - 400px); 
  box-sizing: border-box;
  align-self: center;
}

.mvv-container .mvv-block .content h5
{
  font-weight: 700;
  font-size: 22px;
  color: rgb(210, 213, 80);
  margin: 10px;
}

.mvv-container .mvv-block .content p
{
   font-size: 15px;


}

@media screen and (min-width:1024px)
{
  .mvv-container .mvv-block:nth-child(odd) .image
  {
    order: 1;
  }

  .mvv-container .mvv-block:nth-child(even) .image
  {
    order: 2;
  }

  .mvv-container .mvv-block:nth-child(odd) .content
  {
    order: 2;
    padding-left: 30px ;
  }

  .mvv-container .mvv-block:nth-child(even) .content
  {
    order: 1;
    padding-right:30px;
  }
}
/************section content end************/








/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
  position: relative;
  margin-top: 45px;
  padding-top: 90px;
  background: #030f27;
  color: #ffffff;
}

.footer .footer-contact,
.footer .footer-link,
.footer .newsletter {
  position: relative;
  margin-bottom: 45px;
}

.footer h2 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #fdbe33;
}

.footer h2::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #fdbe33;
}

.footer .footer-link a {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
  transition: .3s;
}

.footer .footer-link a::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .footer-link a:hover {
  color: #fdbe33;
  letter-spacing: 1px;
}

.footer .footer-contact p i {
  width: 25px;
}

.footer .footer-social {
  position: relative;
  margin-top: 20px;
}

.footer .footer-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 7px 0;
  text-align: center;
  border: 1px solid rgba(256, 256, 256, .3);
  border-radius: 60px;
  transition: .3s;
}

.footer .footer-social a i {
  font-size: 15px;
  color: #ffffff;
}

.footer .footer-social a:hover {
  background: #fdbe33;
  border-color: #fdbe33;
}

.footer .footer-social a:hover i {
  color: #030f27;
}

.footer .newsletter .form {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.footer .newsletter input {
  height: 50px;
  border: 2px solid #121518;
  border-radius: 0;
}

.footer .newsletter .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fdbe33;
  background: #121518;
  border-radius: 0;
  border: 2px solid #fdbe33;
  transition: .3s;
}

.footer .newsletter .btn:hover {
  color: #121518;
  background: #fdbe33;
}

.footer .footer-menu .f-menu {
  position: relative;
  padding: 15px 0;
  font-size: 0;
  text-align: center;
  border-top: 1px solid rgba(256, 256, 256, .1);
  border-bottom: 1px solid rgba(256, 256, 256, .1);
}

.footer .footer-menu .f-menu a {
  color: #ffffff;
  font-size: 16px;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu .f-menu a:hover {
  color: #fdbe33;
}

.footer .footer-menu .f-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}


.footer .copyright {
  padding: 30px 15px;
}

.footer .copyright p {
  margin: 0;
  color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
  text-align: right;
}

.footer .copyright p a {
  color: #fdbe33;
  font-weight: 500;
  letter-spacing: 1px;
}

.footer .copyright p a:hover {
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer .copyright p,
  .footer .copyright .col-md-6:last-child p {
      margin: 5px 0;
      text-align: center;
  }
}


